<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"><span class="navbar-toggler-icon"></span></button>
    <h1 class="navbar-brand navbar-brand-autodark"><a href="."></a></h1>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav pt-lg-3">
        <div>
          <!-- Because you are alive, everything is possible. - Thich Nhat Hanh -->
          <li class="nav-item">
            <a class="nav-link" href="https://127.0.0.1:8000/author">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/home --></span>
              <span class="nav-link-title">Author</span>
            </a>
          </li>
        </div>

        <div>
          <!-- Because you are alive, everything is possible. - Thich Nhat Hanh -->
          <li class="nav-item">
            <a class="nav-link" href="https://127.0.0.1:8000/genre">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/home --></span>
              <span class="nav-link-title">Genre</span>
            </a>
          </li>
        </div>

        <div>
          <!-- Because you are alive, everything is possible. - Thich Nhat Hanh -->
          <li class="nav-item">
            <a class="nav-link" href="https://127.0.0.1:8000/publisher">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/home --></span>
              <span class="nav-link-title">Publisher</span>
            </a>
          </li>
        </div>

        <div>
          <!-- Because you are alive, everything is possible. - Thich Nhat Hanh -->
          <li class="nav-item">
            <a class="nav-link" href="https://127.0.0.1:8000/book">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/home --></span>
              <span class="nav-link-title">Book</span>
            </a>
          </li>
        </div>

        <div>
          <!-- Because you are alive, everything is possible. - Thich Nhat Hanh -->
          <li class="nav-item">
            <a class="nav-link" href="https://127.0.0.1:8000/member">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/home --></span>
              <span class="nav-link-title">Member</span>
            </a>
          </li>
        </div>

        <div>
          <!-- Because you are alive, everything is possible. - Thich Nhat Hanh -->
          <li class="nav-item">
            <a class="nav-link" href="https://127.0.0.1:8000/rental-book">
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/home --></span>
              <span class="nav-link-title">Rental Book</span>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</aside>
